<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad98c8e6-f952-48d5-9ccc-22f682e7831a" Alias="About Heading" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutHeading</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-12T08:58:57</CreateDate>
    <NodeName Default="About Heading" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/2dejrlks/about-heading.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>