<?xml version="1.0" encoding="utf-8"?>
<Media Key="959610cc-5cfa-430d-98f8-47c7458ba5b4" Alias="Products Heading" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductsHeading</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-12T09:20:15</CreateDate>
    <NodeName Default="Products Heading" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ziijnfp0/products-heading.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>