<?xml version="1.0" encoding="utf-8"?>
<Media Key="f75ab2ac-5933-45ce-b3c9-a16a328fe042" Alias="Product 01" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-12T09:20:46</CreateDate>
    <NodeName Default="Product 01" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vkzfv3zt/product_01.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>