<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa6fe789-37d2-46c4-9e69-1bf4b1a3f011" Alias="SIXTEEN" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SIXTEEN</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-12T07:49:38</CreateDate>
    <NodeName Default="SIXTEEN" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/r5th54ws/sixteen.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>