<?xml version="1.0" encoding="utf-8"?>
<Media Key="75ffa44e-a9a1-42f8-a65b-1d82ff459adf" Alias="some info image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/someInfoImage</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-07-13T08:48:40</CreateDate>
    <NodeName Default="some info image" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0sp43nb/more-info.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>