@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var heroSlider = Model.Value<IPublishedContent>("heroSlider");
    int count = 0;
    if (heroSlider != null)
    {

        <!-- Banner Starts Here -->
        <div class="banner header-text">
            <div class="owl-banner owl-carousel">
                @foreach (var slider in heroSlider.Children())
                {
                    count++;
                    var classStyle = $"banner-item-0{count}";
                    var backgroundUrl = Url.GetCropUrl(slider, "image", "w800");

                    <div class="@classStyle" style="background-image:url('@backgroundUrl')">
                        <div class="text-content">
                            <h4>@slider.Value("subTitle")</h4>
                            <h2>@slider.Value("title")</h2>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Banner Ends Here -->
    }
}
