@inherits Umbraco.Web.Mvc.UmbracoViewPage
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>
                        @Model.Root().Value("footerText")
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>