@using Umbraco.Core.PropertyEditors.ValueConverters
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{ 
    ImageCropperValue carouselImage = Model.Value<ImageCropperValue>("heroImage");

    var imageCropUrl = $"{carouselImage.Src}?width=1600";
}
<div class="page-heading header-text" style="background-image:url(@imageCropUrl)">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>@Model.Value("pageTitle")</h4>
              <h2>@Model.Value("subTitle")</h2>
            </div>
          </div>
        </div>
      </div>
    </div>