@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>@Model.Value("pageTitle")</h4>
              <h2>@Model.Value("subTitle")</h2>
            </div>
          </div>
        </div>
      </div>
    </div>