<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59160695-45bd-4f9a-9e7a-8a816a866efc" Alias="Carousel Image Cropper" Level="1">
  <Info>
    <Name>Carousel Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "w1200",
      "width": 1200,
      "height": 800
    },
    {
      "alias": "w800",
      "width": 800,
      "height": 500
    },
    {
      "alias": "w500",
      "width": 500,
      "height": 300
    },
    {
      "alias": "w240",
      "width": 240,
      "height": 200
    }
  ]
}]]></Config>
</DataType>