<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc68d020-6a60-4b16-ae46-f992a8769b65" Alias="Country Dropdown List" Level="1">
  <Info>
    <Name>Country Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "India"
    },
    {
      "id": 2,
      "value": "United States"
    },
    {
      "id": 3,
      "value": "United Kingdom"
    },
    {
      "id": 4,
      "value": "Netherlands"
    }
  ]
}]]></Config>
</DataType>