<?xml version="1.0" encoding="utf-8"?>
<DataType Key="635f2708-2beb-4707-93c6-78180d07b0ff" Alias="Product - Rating - Numeric" Level="1">
  <Info>
    <Name>Product - Rating - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0.5,
  "max": 5
}]]></Config>
</DataType>