<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbb02ec8-dabd-4185-8aae-1adef688d212" Alias="Product - ProductPrice - Decimal" Level="1">
  <Info>
    <Name>Product - ProductPrice - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>