<?xml version="1.0" encoding="utf-8"?>
<Macro Key="63e83262-2b7d-4997-b99e-66641d6e5a2f" Alias="ProductListing" Level="0">
  <Name>ProductListing</Name>
  <MacroSource>~/Views/MacroPartials/ProductListing.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>productFolder</Name>
      <Alias>productFolder</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>