<?xml version="1.0" encoding="utf-8"?>
<Macro Key="eab6770c-44c8-443a-9edf-530733f4b119" Alias="YouTubeEmbedPlayer" Level="0">
  <Name>YouTubeEmbedPlayer</Name>
  <MacroSource>~/Views/MacroPartials/YouTubeEmbedPlayer.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>true</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>youtubeId</Name>
      <Alias>youtubeId</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
  </Properties>
</Macro>