<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11554c8c-ccc7-45af-81a1-a80ce2c66467" Alias="carousles" Level="1">
  <Info>
    <Name>Carousles</Name>
    <Icon>icon-disk-image color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3b043481-dd12-48fb-8c51-343efb6a7009" SortOrder="0">carousel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>