<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6a945cb-3d4b-44ce-b5ed-8e08989ee408" Alias="contactFolder" Level="1">
  <Info>
    <Name>Contact Folder</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="56915b08-4cc6-4f67-842e-b152ce06200a" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>