<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3169f739-5f7f-408f-b42e-736d59c1e265" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1bf4ab70-0f83-4bb2-beac-a6c2bf074b39">Form</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>