<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="76c3e424-eccc-42a6-9186-bb2ebd76abc8" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7ffdc7c3-5a7d-440e-9f4f-a8c39af89234">navigable</Composition>
      <Composition Key="26cd6cf4-ac21-4358-8125-c048703de007">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c082d932-b4f9-4909-a52d-05da8698d3ca">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9f6d5448-8a4a-4324-a6cc-a95d7c977be3" SortOrder="0">page</ContentType>
    <ContentType Key="5689a977-0694-412d-a096-04ee238954f0" SortOrder="1">data</ContentType>
    <ContentType Key="3169f739-5f7f-408f-b42e-736d59c1e265" SortOrder="2">form</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>caa550ec-3833-4424-b2cf-85376c53520c</Key>
      <Name>Analytics ID</Name>
      <Alias>analyticsID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="googleAnalytics">Google Analytics</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Google Analytics</Caption>
      <SortOrder>1</SortOrder>
      <Alias>googleAnalytics</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>