<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9e311fa-3a5c-4cf5-8b07-f3e6ee5f7fd1" Alias="About" Level="2">
  <Info>
    <Parent Key="16965a02-ec54-423b-9fe5-2c29f6c8320c">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-07-12T08:59:16</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3798ad5f-7cef-4eaf-84c1-10212199e06c">Page</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[{"src":"/media/czyb2t11/about-heading.jpg","focalPoint":{"left":0.49593495934959347,"top":0.41811846689895471}}]]></Value>
    </heroImage>
    <pageBody>
      <Value><![CDATA[# Heading Text

- one item

1. Two item

> Quote here]]></Value>
    </pageBody>
    <pageGridEditor>
      <Value><![CDATA[{
  "name": "two column 50-50",
  "sections": [
    {
      "grid": "6",
      "rows": [
        {
          "name": "Headline",
          "id": "983d55d5-4001-4ee5-86b6-9872c6fdff8a",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "Headline goes here",
                  "editor": {
                    "alias": "headline",
                    "view": "textstring"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "Headline",
          "id": "e08fd700-acdb-4f65-b8de-5a4ca61a94e4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "macroAlias": "YouTubeEmbedPlayer",
                    "macroParamsDictionary": {
                      "youtubeId": "CQJIl2xoDhc"
                    }
                  },
                  "editor": {
                    "alias": "macro",
                    "view": "macro"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    },
    {
      "grid": "6",
      "rows": [
        {
          "name": "Article",
          "id": "9da44b1e-9964-435d-ad2b-30c80df69917",
          "areas": [
            {
              "grid": "4",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1092,
                    "udi": "umb://media/f8647853690c40de8d3b690baf2d3265",
                    "image": "/media/kv2gj4am/product_02.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<p>test</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageGridEditor>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <subTitle>
      <Value><![CDATA[CONTACT OUR COMPANY]]></Value>
    </subTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>