<?xml version="1.0" encoding="utf-8"?>
<Content Key="061cde4d-2c38-4d40-a5ca-c2d48efd6b8c" Alias="Carousels" Level="3">
  <Info>
    <Parent Key="e41acd37-5ca9-407e-9b86-825c2d87c719">Data</Parent>
    <Path>/Web2/Data/Carousels</Path>
    <Trashed>false</Trashed>
    <ContentType>carousles</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="Carousels" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>