<?xml version="1.0" encoding="utf-8"?>
<Content Key="99b34e5b-b615-4cfe-8593-3b10cfd9b6f6" Alias="carousel 1" Level="4">
  <Info>
    <Parent Key="061cde4d-2c38-4d40-a5ca-c2d48efd6b8c">Carousels</Parent>
    <Path>/Web2/Data/Carousels/carousel1</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="carousel 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[{"src":"/media/pwfdvxgy/slide_01.jpg","focalPoint":{"left":0.23720377644770985,"top":0.30263868213123069}}]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[New Arrivals on Sale]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Best Offer]]></Value>
    </title>
  </Properties>
</Content>