<?xml version="1.0" encoding="utf-8"?>
<Content Key="3300589c-db28-4de6-9ad8-2bbf99b0b717" Alias="carousel 2" Level="4">
  <Info>
    <Parent Key="061cde4d-2c38-4d40-a5ca-c2d48efd6b8c">Carousels</Parent>
    <Path>/Web2/Data/Carousels/carousel2</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="carousel 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[{"src":"/media/xkojs3xf/slide_02.jpg","focalPoint":{"left":0.58483000055211221,"top":0.31081810597261528}}]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[Some Subtitle here]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Flash Deals]]></Value>
    </title>
  </Properties>
</Content>