<?xml version="1.0" encoding="utf-8"?>
<Content Key="66c80591-e02f-4c11-9c69-645c0603bab9" Alias="carousel 2" Level="4">
  <Info>
    <Parent Key="6f8523f8-7333-4ad8-bc9a-bb335aeec5d9">Carousels</Parent>
    <Path>/Home/Data/Carousels/carousel2</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2022-07-12T09:45:21</CreateDate>
    <NodeName Default="carousel 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[{"src":"/media/w5aeci5c/slide_02.jpg","focalPoint":{"left":0.58483000055211221,"top":0.31081810597261528}}]]></Value>
    </image>
    <subTitle>
      <Value><![CDATA[Some Subtitle here]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Flash Deals]]></Value>
    </title>
  </Properties>
</Content>