<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbb3aa57-9d4b-4e42-8f5e-6e3f9070bc8c" Alias="Contacts" Level="3">
  <Info>
    <Parent Key="e41acd37-5ca9-407e-9b86-825c2d87c719">Data</Parent>
    <Path>/Web2/Data/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contactFolder</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="Contacts" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>