<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e8ac091-b15a-4b91-99bc-fd7dd58a4111" Alias="Contact" Level="2">
  <Info>
    <Parent Key="aa7cb2f7-9503-45da-a8fa-1a66680c9346">Web 2</Parent>
    <Path>/Web2/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1bf4ab70-0f83-4bb2-beac-a6c2bf074b39">Form</Template>
  </Info>
  <Properties />
</Content>