<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ac7a177-c732-4f29-8a2a-732aa2ae2e06" Alias="Contact" Level="2">
  <Info>
    <Parent Key="16965a02-ec54-423b-9fe5-2c29f6c8320c">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2022-07-14T07:27:36</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1bf4ab70-0f83-4bb2-beac-a6c2bf074b39">Form</Template>
  </Info>
  <Properties />
</Content>