<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb4672f5-ab6e-4fd2-9d7b-6c0c16260146" Alias="Deendayal" Level="4">
  <Info>
    <Parent Key="fbb3aa57-9d4b-4e42-8f5e-6e3f9070bc8c">Contacts</Parent>
    <Path>/Web2/Data/Contacts/Deendayal</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="Deendayal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[ddsundaria@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Deendayal]]></Value>
    </contactName>
    <message>
      <Value><![CDATA[Want to buy clothes in bulk. Bulk Order]]></Value>
    </message>
  </Properties>
</Content>