<?xml version="1.0" encoding="utf-8"?>
<Content Key="a192061d-226e-4d19-8fc0-642c3de21580" Alias="Deendayal" Level="4">
  <Info>
    <Parent Key="a1057bfb-caac-47ce-bbff-0d6eeade44c1">Contacts</Parent>
    <Path>/Home/Data/Contacts/Deendayal</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-07-14T08:02:37</CreateDate>
    <NodeName Default="Deendayal" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[ddsundaria@gmail.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[Deendayal]]></Value>
    </contactName>
    <message>
      <Value><![CDATA[Want to buy clothes in bulk. Bulk Order]]></Value>
    </message>
  </Properties>
</Content>