<?xml version="1.0" encoding="utf-8"?>
<Content Key="16965a02-ec54-423b-9fe5-2c29f6c8320c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-12T07:49:55</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c082d932-b4f9-4909-a52d-05da8698d3ca">Home</Template>
  </Info>
  <Properties>
    <analyticsID>
      <Value><![CDATA[test]]></Value>
    </analyticsID>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>