<?xml version="1.0" encoding="utf-8"?>
<Content Key="16965a02-ec54-423b-9fe5-2c29f6c8320c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-12T07:49:55</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c082d932-b4f9-4909-a52d-05da8698d3ca">Home</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerText>
      <Value><![CDATA[COPYRIGHT © 2022 SIXTEEN CLOTHING CO., LTD]]></Value>
    </footerText>
    <heroSlider>
      <Value><![CDATA[umb://document/6f8523f873334ad8bc9abb335aeec5d9]]></Value>
    </heroSlider>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <logo>
      <Value><![CDATA[[{"key":"3a69722d-c547-45e3-aab0-252827419ef7","mediaKey":"fa6fe789-37d2-46c4-9e69-1bf4b1a3f011"}]]]></Value>
    </logo>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>