<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7400bcc-4d78-4a79-b0f8-549b4731a505" Alias="id.3" Level="3">
  <Info>
    <Parent Key="ad8515f6-01a1-4e86-9d61-aac1f41e1879">Products</Parent>
    <Path>/Home/Products/id3</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-07-15T08:43:31</CreateDate>
    <NodeName Default="id.3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="beb712e5-aca2-4f77-baae-bc22b3630c85">Product</Template>
  </Info>
  <Properties>
    <originOfProduct>
      <Value><![CDATA[["United Kingdom"]]]></Value>
    </originOfProduct>
    <productDescription>
      <Value><![CDATA[test]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[{"key":"e49b7cb9-c8b6-4fca-9b70-44c3367160e1","mediaKey":"f8647853-690c-40de-8d3b-690baf2d3265"}]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[500000]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[id.3]]></Value>
    </productTitle>
    <rating>
      <Value><![CDATA[5]]></Value>
    </rating>
  </Properties>
</Content>