<?xml version="1.0" encoding="utf-8"?>
<Content Key="71fcc480-e3d5-4d7c-a963-127f01333089" Alias="Leather Jacket" Level="3">
  <Info>
    <Parent Key="dca101cc-dd1a-4eff-b6ae-e347e0ee906a">Products</Parent>
    <Path>/Web2/Products/LeatherJacket</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="Leather Jacket" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="beb712e5-aca2-4f77-baae-bc22b3630c85">Product</Template>
  </Info>
  <Properties>
    <originOfProduct>
      <Value><![CDATA[["United States"]]]></Value>
    </originOfProduct>
    <productDescription>
      <Value><![CDATA[some description]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[{"key":"d8293d08-4b60-4217-b242-cacb8dc8238b","mediaKey":"f8647853-690c-40de-8d3b-690baf2d3265"}]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[150]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Leather Jacket]]></Value>
    </productTitle>
    <rating>
      <Value><![CDATA[5]]></Value>
    </rating>
  </Properties>
</Content>