<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad8515f6-01a1-4e86-9d61-aac1f41e1879" Alias="Products" Level="2">
  <Info>
    <Parent Key="16965a02-ec54-423b-9fe5-2c29f6c8320c">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-07-12T09:20:22</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3798ad5f-7cef-4eaf-84c1-10212199e06c">Page</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[{"src":"/media/dj0hqo2g/products-heading.jpg","focalPoint":{"left":0.43292682926829268,"top":0.30662020905923343}}]]></Value>
    </heroImage>
    <pageBody>
      <Value><![CDATA[]]></Value>
    </pageBody>
    <pageGridEditor>
      <Value><![CDATA[]]></Value>
    </pageGridEditor>
    <pageTitle>
      <Value><![CDATA[Products]]></Value>
    </pageTitle>
    <subTitle>
      <Value><![CDATA[Our Products]]></Value>
    </subTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>