<?xml version="1.0" encoding="utf-8"?>
<Content Key="db914321-a686-41f7-803a-d6086c45477b" Alias="productlisting" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/productlisting</Path>
    <Trashed Parent="16965a02-ec54-423b-9fe5-2c29f6c8320c">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-07-25T09:11:06</CreateDate>
    <NodeName Default="productlisting" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3798ad5f-7cef-4eaf-84c1-10212199e06c">Page</Template>
  </Info>
  <Properties>
    <heroImage>
      <Value><![CDATA[{"src":"/media/zurhytnb/contact-heading.jpg"}]]></Value>
    </heroImage>
    <pageBody>
      <Value><![CDATA[]]></Value>
    </pageBody>
    <pageGridEditor>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Headline",
          "id": "21c9bb81-402f-45b4-a456-a0da04bcaadd",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "macroAlias": "ProductListing",
                    "macroParamsDictionary": {
                      "productFolder": "umb://document/ad8515f601a14e869d61aac1f41e1879"
                    }
                  },
                  "editor": {
                    "alias": "macro",
                    "view": "macro"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </pageGridEditor>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>