<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb91e2b5-5273-4dc9-85ad-534aa1e42312" Alias="Shoes" Level="3">
  <Info>
    <Parent Key="ad8515f6-01a1-4e86-9d61-aac1f41e1879">Products</Parent>
    <Path>/Home/Products/Shoes</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2022-07-12T09:21:00</CreateDate>
    <NodeName Default="Shoes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="beb712e5-aca2-4f77-baae-bc22b3630c85">Product</Template>
  </Info>
  <Properties>
    <originOfProduct>
      <Value><![CDATA[["United Kingdom"]]]></Value>
    </originOfProduct>
    <productDescription>
      <Value><![CDATA[some text]]></Value>
    </productDescription>
    <productImage>
      <Value><![CDATA[[{"key":"1539442e-7578-4d0d-8e1a-7f1263f7d478","mediaKey":"f75ab2ac-5933-45ce-b3c9-a16a328fe042"}]]]></Value>
    </productImage>
    <productPrice>
      <Value><![CDATA[500]]></Value>
    </productPrice>
    <productTitle>
      <Value><![CDATA[Shoes]]></Value>
    </productTitle>
    <rating>
      <Value><![CDATA[5]]></Value>
    </rating>
  </Properties>
</Content>