<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1fe92ef-3ac1-4bdc-b92b-b2db9cdceeac" Alias="test" Level="4">
  <Info>
    <Parent Key="a1057bfb-caac-47ce-bbff-0d6eeade44c1">Contacts</Parent>
    <Path>/Home/Data/Contacts/test</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-07-15T08:44:32</CreateDate>
    <NodeName Default="test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[test@test.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <message>
      <Value><![CDATA[<5556]]></Value>
    </message>
  </Properties>
</Content>