<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e9e9ea2-f84c-4a2c-8183-9c945eb448d6" Alias="test" Level="4">
  <Info>
    <Parent Key="fbb3aa57-9d4b-4e42-8f5e-6e3f9070bc8c">Contacts</Parent>
    <Path>/Web2/Data/Contacts/test</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2022-07-25T09:46:06</CreateDate>
    <NodeName Default="test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[test@test.com]]></Value>
    </contactEmail>
    <contactName>
      <Value><![CDATA[test]]></Value>
    </contactName>
    <message>
      <Value><![CDATA[<5556]]></Value>
    </message>
  </Properties>
</Content>