<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa7cb2f7-9503-45da-a8fa-1a66680c9346" Alias="Web 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Web2</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-07-25T09:46:05</CreateDate>
    <NodeName Default="Web 2">
      <Name Culture="en-us">Web 2</Name>
      <Name Culture="fr">french home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="c082d932-b4f9-4909-a52d-05da8698d3ca">Home</Template>
  </Info>
  <Properties>
    <analyticsID>
      <Value><![CDATA[test]]></Value>
    </analyticsID>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>