<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5f15b247-f689-41ac-a83c-07889f477cc9" Alias="read-more" Level="0">
  <Info />
  <Translations>
    <Translation Language="de">Weiterlesen</Translation>
    <Translation Language="en-US">Read more</Translation>
    <Translation Language="fr">Lire la suite</Translation>
  </Translations>
</Dictionary>