@inherits Umbraco.Web.Mvc.UmbracoViewPage<umbTraining.Models.ProductContentModel>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "MasterLayout.cshtml";
}

<h2>
	@Model.Value("productName")
</h2>

<span>Price (Without GST): @Model.Value("productPrice")</span>
<br/>
<span>Price (With GST): @Model.ProductGstPrice</span>