@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if (Model.MacroParameters["productFolder"] != null)
{
    var productFolder = Umbraco.Content(Model.MacroParameters["productFolder"]);
    
    if(productFolder != null)
    {
        <div class="row">
            <div class="col-xs-6 col-md-6">
                @foreach(var product in productFolder.Children())
                {
                    <div class="col-md-3">
                        <h2>@product.Value("productTitle")</h2>
                        
                        <h6>@Umbraco.GetDictionaryValue("read-more")</h6>
                    </div>
                }
            </div>
        </div>
    }
}